@model   StudentAppWebsite.Models.Categories

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Categories", "Admin", FormMethod.Get))
{
    
      <div class="row">
        <div class="col-md-12"> <div class="pull-right">
                    <a href="/Admin/EditCategories" class="btn btn-warning"> <i class="fa fa-plus" aria-hidden="true"></i> Add More</a>
                </div></div></div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>

                    <div class="panel-options">
                        <a href="#" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span>
                            <span class="expand-icon">+</span>
                        </a>
                        <a href="#" data-toggle="remove">&times;
                        </a>
                    </div>
                </div>
                <div class="panel-body">

                    <script type="text/javascript">
                        jQuery(document).ready(function ($) {
                            $("#example-4").dataTable({
                                aLengthMenu: [
                                    [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
                                ]
                            });
                        });
                    </script>

            <div class="table-responsive" @*data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true"*@>
               
                <table id="example-4" class="table table-small-font table-bordered table-striped">
                   <thead>
                        <tr>
                        <th>Category Name</th>
                        @*<th>Price</th>*@
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                       </thead>
                    <tbody>

                        @if (Model.CategoryList.Count > 0)
                        {
                            foreach (var item in Model.CategoryList)
                            {
                            <tr>
                                <td>@item.CategoryName</td>
                                @*<td>@item.Price</td>*@
                                <td>@(item.Status ? "Active" : "Inactive")</td>
                                <td><a href="/Admin/EditCategories/@item.Id">Edit</a> | <a href="/Admin/UpdateCategoryStatusById/@item.Id">@(item.Status== false ? "Activate" : "De-Activate")</a></td>


                            </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7">
                                    <div class="alert alert-danger">No Records Found</div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div> </div>
        </div>
    </div>
}