page-NotebookPageDetails {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto');

  .nav-bar-main {
    background: #00408f;
    color: #ffffff;
  }

  .nav-bar-icon::before {
    font-weight: 800;
    font-size: 37px;
    color: #fff;
  }

  .mainHeader .nav-bar-main .toolbar-background {
    background: #00408f;
  }

  .mainHeader .nav-bar-main .bar-button .icon {
  }

  .mainHeader .header-wrap {
    padding-top: 0px;
  }

  .textCenter {
    text-align: center;
  }

  .textLeft {
    text-align: left;
  }

  .textRight {
    text-align: right;
  }

  .clearfix {
    clear: both;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    cursor: url('https://ionicframework.com/img/finger.png'), auto;
  }

  .main-page-wrapper {
    position: relative;
    overflow: hidden;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  /**** HEADER ****/
  .logo-wrap img {
    max-width: 100%;
  }

  .logo-wrap {
    margin-bottom: 10px;
  }

  .btn-wrap {
    padding: 0px 70px;
  }

  .mainHeader {
    background: #00408f;
    padding: 10px;
  }

  .mainHeaderIcon {
    color: #fff;
  }

  .header-wrap {
    padding: 30px 0px;
    color: #fff;
  }

  .btn-wrap button {
    width: 100%;
    border-radius: 50px;
    padding: 10px 10px;
    margin: 2px 0 7px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: .2px;
    background: -moz-linear-gradient(top, #d4d4d4 0%, #ffffff 51%, #d4d4d4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d4d4d4 0%, #ffffff 51%, #d4d4d4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d4d4d4 0%, #ffffff 51%, #d4d4d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#d4d4d4', GradientType=0 ); /* IE6-9 */
  }

  .search-wrap .control-wrap .control {
    border: none;
    border-radius: 0;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .search-wrap .control-wrap {
    position: relative;
    width: 100%;
  }

  .search-wrap .control-wrap i {
    position: absolute;
    right: 8px;
    color: #5b5b5b;
    font-size: 12px;
    top: 12px;
  }

  .user-deatils-wrap .navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
  }

  .user-deatils-wrap .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .user-deatils-wrap .dropdown {
    float: left;
    overflow: hidden;
  }

  .user-deatils-wrap .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 6px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .user-deatils-wrap .dropdown .dropbtn img {
    max-width: 100%;
    height: 40px;
  }

  .user-deatils-wrap .dropdown .dropbtn span {
    position: relative;
    top: -12px;
    left: 10px;
  }

  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    /*   background-color: red;*/
  }

  .user-deatils-wrap .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .user-deatils-wrap .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .user-deatils-wrap .dropdown-content a:hover {
    background-color: #ddd;
  }

  .user-deatils-wrap .show {
    display: block;
  }
  /****END OF HEADER ****/
  /**** MAIN CONTENT ****/
  .mainWrapper {
    padding: 30px 20px;
  }

  .mainWrapper .wallet h2 {
    font-size: 30px;
    color: #2d94e3;
  }

  a.btn-wallet {
    background: linear-gradient(#4aaaee, #0072d1);
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
  }

  .m-t-20 {
    margin-top: 20px;
  }

  .separator {
    border: 1px solid #ddd;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mainWrapper .numberClick {
    padding: 20px;
    background: #eaeaea;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 30px;
  }

  .mainWrapper .numberClick h1 {
    color: #333;
    margin-bottom: 15px;
  }

  .mainWrapper .numberClick span {
    color: #00408f;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
  }

  .table-responsive table {
    width: 100%;
  }

  .table-responsive table, .table-responsive table td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .table-responsive table th {
    padding: 15px;
    text-align: left;
    background: #00408f;
    color: #fff;
  }

  .table-responsive table td {
    padding: 15px;
    text-align: left;
  }
  /**** Home page ****/
  .searchFilters .wallet {
    float: left;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 14px 0px #b4b4b4;
  }

  .searchFilters .wallet .inputMain {
    float: left;
    width: 50%;
  }

  .searchFilters .wallet .input-group {
    display: table;
    border-collapse: collapse;
    width: 100%;
    height: 40px;
  }

  .searchFilters a.btn-wallet {
    top: 10px;
    position: relative;
  }

  .searchFilters .input-group > div {
    display: table-cell;
    border: 1px solid #4aaaee;
    vertical-align: middle; /* needed for Safari */
  }

  .searchFilters .input-group-icon {
    background: #4aaaee;
    color: #fff;
    padding: 0 12px
  }

  .searchFilters .input-group-area {
    width: 100%;
  }

  .searchFilters .input-group input {
    border: 0;
    display: block;
    width: 100%;
    padding: 8px;
  }

  .notebooks {
    padding: 45px 0px;
    text-align: center;
  }

  .notbookMain {
    width: 100%;
    position: relative;
    padding: 0px 0px;
    box-shadow: 0px 14px 0px #b4b4b4;
  }

  .notebooks img {
    width: 85%;
    height: 330px;
  }

  .textdiv {
    Position: absolute;
    width: 62%;
    /* height: 100%;*/
    left: 32%;
    right: 0px;
    top: 44px;
  }

  .main1 {
    width: 100%;
    /*height: 100%;*/
    display: table; /*word-break: break-all;
    -ms-word-break: break-all;*/
  }

  .main2 img {
    width: 70px;
    border-radius: 50%;
    height: 70px;
    position: relative;
    right: 11%;
  }

  .main3 {
    position: relative;
    top: 40px;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: left;
    left: 11%;
  }

  .creatorName {
    padding: 20px 30px;
  }

  .creatorName h2 {
    padding: 0px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
  }

  .subjectdetails {
    font-weight: 900;
    font-size: 16px;
    margin-left: -2px;
  }

  .creatorbutton {
    margin-bottom: 50px;
  }

  .creatorbutton a.btn-wallet {
    border-radius: 40px;
    width: 100%;
    float: left;
  }
  /**** List page ****/
  .mainWrapper .PageList {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  }

  .mainWrapper .PageList p {
    font-size: 18px;
    color: #00408f;
  }

  .mainWrapper .PageList p span {
    float: right;
    font-size: 30px;
    margin-right: 15px;
    color: #949494;
  }

  .mainWrapper .pageButon {
    margin-top: 30px;
  }

  .mainWrapper .pageButon a {
    background: #f5ae59;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 4px;
  }

  .mainWrapper .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: space-around;
  }

  .mainWrapper .flex-container .flex-box {
    margin: 10px;
  }

  .mainWrapper .flex-container .flexBox {
    border: 10px solid #beeaa7;
    height: 200px;
    width: 310px;
    border-radius: 7px;
  }

  .mainWrapper .flex-container .FlexCheck {
    margin-top: 15px;
    text-align: center;
  }

  .header-wrap label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
  }

  .search-wrap.signUp .control {
    margin-top: 10px;
  }

  .search-wrap.signUp .control-wrap {
    margin-bottom: 10px;
  }

  .btn-block {
    display: block;
    width: 100%;
  }

  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-top: 10px;
  }

  .btn-faq {
    color: #fff;
    background-color: #f5ae59;
    border-color: #f5ae59;
    margin-top: 10px;
  }

  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .search-wrap.signUp .keepLogin span {
    font-size: 16px;
    font-weight: 500;
  }

  .search-wrap.signUp .keepLogin {
    margin-top: 8px;
  }

  .SignUpForm-heading {
    background: #00408f;
    color: #fff;
    font-size: 17px;
    text-align: center;
    padding: 10px;
  }

  .signUpForm {
    padding: 15px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  .BigMainWrapper {
    background: #f1f1f1;
    padding: 30px 20px;
  }

  .BigMainWrapper .mainWrapper {
    padding: 0;
    background: #fff;
  }

  .form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }

  .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
  }

  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
    top: 2px;
  }

  .mainWrapper.add-page .pageButon {
    margin-top: 0;
  }

  .mainWrapper.add-page .pageButon a {
    display: inline-block;
  }

  .m-t-10 {
    margin-top: 10px;
  }

  .btn.btn-blue {
    background: linear-gradient(#4aaaee, #0072d1);
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    width: 110px;
  }


  .home-create-btn {
    background: linear-gradient(to bottom, #d4d4d4 0%, #ffffff 51%, #d4d4d4 100%);
    padding: 21px 37px;
  }

  .home-create-btn .button-inner {
    text-transform: capitalize;
    font-size: 19px;
    font-weight: 400;
    color: #000;
  }

  .home-create-btn .home-create-icon {
    margin-right: 5px;
  }

  .home-create-wrap {
    margin-bottom: 0px !important;
  }

  .user-btn-img {
    border-radius: 50%;
    margin: 0px 8px 0px 0px;
  }

  .home-user-btn {
    padding: 12px 0px 0px 0px;
  }

  .home-btn-icon {
    color: #fff;
    font-size: 23px;
  }

  .user-btn-span {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
  }

  button.btn-wallet {
    background: linear-gradient(#4aaaee, #0072d1);
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
    margin-left: 12px;
  }

  .span-search-filter {
    margin-left: 5px;
    text-transform: none;
    font-weight: 300;
  }

  .icon-search-filter::before {
    font-weight: 600;
    font-size: 20px;
  }

  .home-notebook-search .searchbar-input {
    border: 1px solid #4aaaee;
    box-shadow: none;
  }

  .home-note-slice {
    background-color: #fff;
  }

  .creat-name-sp {
    margin-top: 8px !important;
    margin-bottom: 16px !important;
  }

  .side-by-side {
    float: left;
    padding: 0px 27px;
  }

  .img {
    width: 35px;
  }

  .Headingan {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .notebook a img {
    height: 129px;
    width: 43%;
    border: 10px solid #ffffff;
    border-radius: 6px;
  }

  .f9 {
    margin-left: 20px;
  }
  /*checkbox*/
  /*img {
    border-radius: 50%;
  }*/
  .caption {
    position: absolute;
    top: 0;
    left: 5px; /*  changed to match image_grid padding  */
    height: 100%;
    width: calc(100% - 5px); /*  changed to match image_grid padding  */
    padding: 0 10px;
    box-sizing: border-box;
    pointer-events: none;
    border-radius: 500px;
  }

  .imageandtext {
    position: relative;
  }

  .image_grid {
    display: inline-block;
    padding-left: 5px;
  }

  .image_grid img { /*  added rule  */
    display: block;
  }

  .image_grid input {
    display: none;
  }

  .image_grid input:checked + .caption {
    background: rgba(0,0,0,0.5);
  }

  .image_grid input:checked + .caption::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
  }


  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  .item-checkbox-img {
    vertical-align: middle;
    position: absolute;
    top: 0px;
    right: 15px;
    height: 100%;
  }


  .mainWrapper .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: space-around;
  }

  .mainWrapper .flex-container .flex-box {
    margin: 10px;
  }

  .mainWrapper .flex-container .flexBox {
    border: 10px solid #dbdcda;
    height: 200px;
    width: 310px;
    border-radius: 7px;
    overflow: hidden;
  }

  .mainWrapper .flex-container .flexBox img {
    height: 182px;
    width: 291px;
  }

  .mainWrapper .flex-container .FlexCheck {
    margin-top: 15px;
    text-align: center;
  }

  .mainWrapper .flex-container .flex-box {
    margin: 10px;
  }

  .back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back {
    color: #fff;
  }

  .pull-right {
    float: right;
  }

  .page-icon-img {
    width: 40px;
  }

  .mainWrapper .PageList .list-page-info {
    font-size: 21px;
    color: #00408f;
  }
}
