page-SampleModalPage {
  .ion-icon {
    display: inline-block;
    font-size: 1.2em;
    float: right;
    margin-top: -21px;
  }

  .lstdesign {
    height: 150px;
   
    overflow: scroll;
  }

  ion-label {
    font-size: 0.8em;
  }
}
