@{
    ViewBag.Title = "HelpPage";
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Student App</title>
    <style>
        .page-headings {
            text-align: center;
            text-transform: uppercase;
        }

        body {
            background: #f5f5f5;
            height: 100%;
            max-height: 100%;
        }

        .helppagediv {
            width: 70%;
            margin: 0 auto;
            background: #fff;
            padding: 5px 30px;
            border: 1px solid #e6e6e6;
            text-transform: capitalize;
            color: #474646;
            font-family: roboto;
            font-size: 14px;
            height: 100%;
            max-height: 100%;
            min-height: 1000px;
        }
    </style>
</head>

<body>


    <div class="helppagediv">
        <h1 class="page-headings">Help Page</h1>
        <p>Here are some important points you may need to know for creating new pages in your notebook. You will be noticing 'Clip' symbol next to subject name, and Blue buttons for 'Page no.', 'Save', 'Add New', 'Help', 'Exit' , green keyboard just below subject name to create Image page, video page, Audio page, Text page inside any Notebook, Which are defined below :- </p>

        <h3>Clip symbol  </h3>
        <p> 1.  if you will click on this Clip symbol which is appearing next to subject name then Gallery, camera, document, location optios appears to add any image, video, audio inside Notebook.</p>

        <h3>Page no.</h3>
        <p> 2. 'Page no. ' Shows which page you are going to create in your notebook. </p>

        <h3>Save.</h3>
        <p>3. 'Save' is useful for saving text page in notebook.</p>
        <h3>Add new</h3>
        <p>4. 'Add new' is useful in  creating new page in your notebook.</p>

        <h3>Help</h3>
        <p>5. 'Help' is useful to give information about buttons and it's functionalities.</p>

        <h3>Exit</h3>
        <p>6. 'Exit' is useful for closing this page and going back previous 'List of Pages'.</p>

        <h3>Green Keyboard</h3>
        <p>7. Green Keyboard:- You can use this keyboard to create text, scientific equation, add image by URL address,video by  URL address,audio by URL address inside Text page.</p>

        @*<p>here are some important things which you must know before you start creating new pages in your textbook/notebook.</p>
        <h3>------New Updated Chenges--------</h3>
           <p>1. You can create page using Editor which like wordpad for createing page and editing page</p>
           <h3>Chapter Name</h3>
           <p>You can use this button to enter your Chapter Name (Only in case of Page As Text) .</p>

           <h3>Heading</h3>
           <p>You can use this button to enter your Headings in the page(Only in case of Page As Text).</p>

           <h3>start writing</h3>
           <p>By clicking on this button you can write your content on page(Only in case of Page As Text).</p>

           <h3>Scientific Key</h3>
           <p>This button active only after clicking on start writing button,and you can enter scientific formulas by using this button(Only in case of Page As Text).</p>

           <h3>Add Image</h3>
           <p>By using this button you can upload images in your page(Only in case of Page As Text).</p>

           <h3>Add Page</h3>
           <p>By using this button you can upload your page in jpeg/png format (Only in case of Page As Image).</p>

           <h3>Marker</h3>
           <p>You can use marker to highlight the selected text(Only in case of Page As Text).</p>

           <h3>Add New</h3>
           <p>By clicking this button you can add a new page to your book.</p>
           <h3>Help</h3>
           <p>By clicking this button you will be redirected to the help page</p>
           <h3>Exit</h3>
           <p>When you click on this button you will be redirected to the home page.</p>

           <h3>Submit</h3>
           <p>You can save your page by clicking on this button.</p>*@

        <h3>Helpline Numbers</h3>
        <p>9721281229</p>
    </div>

</body>
</html>
