@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <meta name="viewport" content="width=device-width" />
    <title>notetor.com</title>
    <style>
        #para1 {
            font-size: 25px;
            line-height: 0.6;
        }
        H3 {
            font-size: 25px;
            line-height: 0;
            font-weight: 600;
        }

        #Para2 {
            font-size: 20px;
            line-height: 3;
        }
        #img {
            height: 150px;
            width: 150px;
            margin-left: 45%;
            margin-bottom: 26px;
            margin-top: 96px;
        }
    </style>


    <div>
        <div style="text-align:center">
            <img src="~/Content/images/550.png" id="img" />
            <p id="para1">PAYMENT</p>
            <h3>SUCCESSFUL</h3>
            <P id="Para2">
                You have successfully made your payment.Conformation email will be sent to you shortly.
            <P>
            <P id="Para2">
                <a href="http://notetor.com/" target="_blank" style="text-decoration:none">www.notetor.com</a>
            <P>
        </div>
    </div>
