@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="viewport" content="width=device-width" />
<title>notetor.com</title>
<style>
    #para1 {
        font-size: 25px;
        line-height: 0.6;
    }

    H3 {
        font-size: 25px;
        line-height: 0;
        font-weight: 600;
    }

    #Para2 {
        font-size: 20px;
        line-height: 2;
    }

    #img {
        height: 150px !important;
        width: 150px;
        margin-top: 96px;
        margin-left: 44%;
        margin-bottom: 26px;
    }
</style>


<div>
    <div style="text-align:center">
        <img src="~/Content/images/fialure.png"  id="img" />
        <h3>Your Payment Failed</h3>
        <P id="Para2">Plaese try again <P>
    </div>
</div>
