@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background: #FAFEFF !important;
        height: 500px;
    }
</style>

<section class="help">
    <div class="container">
        <div class="help-inner col-md-5">        
            <img src="~/Images/help.png" />
            <span>Help  - 9721281229</span>
        </div>
    </div>

</section>

