@{
    ViewBag.Title = "Privacy Policies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #eee;
    }

    .panel-heading {
        padding: 10px 15px;
    }

    .panel-default {
        border-color: #ddd;
    }

    .panel {
        margin: 0px;
        background-color: #fff;
        border: none;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0px 10px;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #ddd;
    }

    .panel-body {
        border-top: 0px;
        padding: 15px;
    }

    .panel .panel-body {
        padding: 0;
        color: #626262;
        padding: 0px 5px;
    }

    .panel .panel-heading > .panel-title > a {
        color: #000;
        font-size: 18px;
        padding: 10px;
    }

    .panel-group .panel .panel-heading + .panel-collapse .panel-body {
        border-top: none;
        margin-top: 0px;
    }

    .panel .panel-heading {
        padding-bottom: 0px;
        border-bottom: none;
        margin-bottom: 7px !important;
        color: #000 !important;
    }

    .panel-group .panel {
        margin-bottom: 20px;
    }

    p {
        color: #616565;
    }

    .answ {
        line-height: 32px;
        color: #616565;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 faq-page">
            <h2 style="text-align: center;">Privacy Policies</h2>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>
                                Information associated with your account will be kept until your account is deleted, unless we no longer need the data to provide our services. You can delete your account any time. When you delete your account, we delete things you have Added, such as your profile pic, your name, emailID, country, state, city.
                            </p>
                            <p> How do you chose who can see my Notebook and Notebook pages:- </p>
                            <p> 1. Only you can add pages inside your notebook </p>
                            <p>
                                2. You will get notification if any user post any questions over your notebook page.
                            </p>
                            <p>
                                3. You will get notification if any user post any answer over your notebook page.
                            </p>
                            <p>
                                4. If you accidentally share a post, you can always edit or delete it.
                            </p>
                            <p> 5. You can delete your whole Notebook in one chance. </p>
                            <p> 6. You can edit or delete your notebook pages. </p>
                            <p> 7. No any other users can delete your notebook or notebook pages. </p>
                            <p> 8. Your any friend can see all your friends in friend list. </p>
                            <p> 9. Anyone can see questions and answers posted on your notebook page. </p>
                            <p>
                                10. To add friend in your friends list, click right menu button next to friend then click on send friend request.
                            </p>
                            <p>
                                11. Any user can see your notebook pages to get information about education health and wealth.
                            </p>
                            <p> Can other people see my list of friends when they visit my profile :- </p>
                            <p> 1. Remember that your friends each control who can see their friends. </p>
                            <p>
                                2. If you’re friends with someone, you’ll be on their friend list and it’s up to that friend who sees their list.
                            </p>
                            <p> Who can see your questions and answers:- </p>
                            <p>
                                1. Anyone who can see a certain post will also be able to see any reactions or comments people have made on it, including if you’ve reacted or commented.
                            </p>
                            <p>
                                2. If you commented on the photo, even when the audience was set to Friends, your comment would become public, too.
                            </p>
                            <p> How can I stop someone who is bothering you:- </p>
                            <p>
                                1. To stop someone from bothering you, you can either unfriend them. Anyone you unfriend or block will not be notified.
                            </p>
                            <p>
                                2. Blocking someone means you won’t be friends anymore and they won’t be able to.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
