@{
    ViewBag.Title = "Refund and Cancellations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #eee;
    }

    .panel-heading {
        padding: 10px 15px;
    }

    .panel-default {
        border-color: #ddd;
    }

    .panel {
        margin: 0px;
        background-color: #fff;
        border: none;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0px 10px;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #ddd;
    }

    .panel-body {
        border-top: 0px;
        padding: 15px;
    }

    .panel .panel-body {
        padding: 0;
        color: #626262;
        padding: 0px 5px;
    }

    .panel .panel-heading > .panel-title > a {
        color: #000;
        font-size: 18px;
        padding: 10px;
    }

    .panel-group .panel .panel-heading + .panel-collapse .panel-body {
        border-top: none;
        margin-top: 0px;
    }

    .panel .panel-heading {
        padding-bottom: 0px;
        border-bottom: none;
        margin-bottom: 7px !important;
        color: #000 !important;
    }

    .panel-group .panel {
        margin-bottom: 20px;
    }

    p {
        color: #616565;
    }

    .answ {
        line-height: 32px;
        color: #616565;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 faq-page">
            <h2 style="text-align: center;">Refund & Cancellation Policies</h2>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p> FOR ADVERTISERS:- </p>
                            <p>
                                Our decisions about refunds are made on a case-by-case basis and depend on the facts and circumstances of the particular issue. We'll notify you if we decide to give a refund. All refunds are made at our sole discretion and without admission of liability. When understanding the types of refunds, remember that:
                            </p>
                            <p> Ad performance: - </p>
                            <p>
                                We are unable to guarantee in every instance that your ad will reach its intended target or achieve the outcome you select. We don't give refunds for poor ad performance or return on investment.
                            </p>
                            <p> Ads services availability: - </p>
                            <p>
                                Our Ads Status page provides advertisers with information about disruptions to our ads services and issues impacting Ads Manager. We don't automatically give refunds when ad services are unavailable or disrupted. We may consider issuing a refund on a case-by-case basis where we determine that ad delivery has been significantly impacted, at a substantial rate and over a significant period, by an unplanned interruption to our ad services caused by a system bug. A system bug is a technical issue on our platform.
                            </p><p>
                            </p><p>
                                The following information about system bug issues isn't intended to be comprehensive:
                                Disruptions to insights or reporting: -
                                We don't typically give refunds for issues with insights or reporting, such as inaccurate or missing data caused by system bugs.
                                Blocked spend and under delivery: We don't give refunds for the inability to create new ads, view results, optimize delivery or where there has been under-delivery of existing ads due to a system bug. We don't refund for blocked creation of ads.
                                Over delivery and overspend: We may consider issuing a refund where a system bug results in overspend due to the wrong bid being used or the budget set in Ads Manager being exceeded.
                            </p>
                            <p> Interface outages and failed API calls: </p>
                            <p>
                                We won't consider refunds for the inability to create right ads. We won't refund where system bugs, affecting interfaces, display in an obvious way that advertisers can see and correct for.
                            </p>
                            <p> Ad rendering issues: </p>
                            <p>
                                Ad rendering issues caused by system bugs may include problems with image display and video functionality. We don't refund where the ad delivers consistently as shown in the ad preview.
                            </p>
                            <p> Seller Performance and Accountability Policies Overview: - </p>

                            <p>
                                These policies provide guidance for how sellers using onsite checkout on Notetor commerce surfaces should fulfil and dispatch orders. These policies also help sellers understand what type of support is expected after a buyer has made a purchase on Notetor, and how to communicate with buyers in case they request a refund or something doesn't go as planned.
                            </p>
                            <p>
                                All sellers must comply with these policies, as well as the Community Standards and Commerce Product Merchant Agreement.
                            </p>
                            <p>
                                Failure to comply with these policies may lead to various consequences, including but not limited to account restrictions, cancellation of orders, ranking changes, removal of the product or refunds at a loss to the seller. Notetor reserves the right to issue refunds where required by applicable law. Decisions on buyers claims are governed by these policies and the Purchase Protection Policies, and are made in Notetor's sole discretion.
                            </p>
                            <p>
                                For the purposes of this policy, where specified, an individual seller refers to someone selling through a personal profile.
                            </p>
                            <p> Selling with on-site checkout :- </p>

                            <p>
                                Sellers must provide accurate delivery and handling windows for all products, services and orders. Sellers must provide valid tracking information for all orders and orders must be received by the buyer within the delivery window (handling time + shipping time) listed by the seller in the product description page.
                            </p>
                            <p>
                                If an individual seller has not fulfilled an order within seven days from the date of the purchase, that order will be automatically cancelled by Notetor, And buyer must email to notetorbuyersclaim@gmail.com to resolve the matter or get refund.
                            </p>
                            <p>
                                If you ship products, you must meet performance standards for order fulfilment, including order tracking, dispatch and delivery.
                            </p>
                            <p>
                                All refunds are made at our sole discretion and without admission of liability. Advertisers can notify Notetor about refunds at notetoradmanager@gmail.com. Notetor Ad Manager will reply you directly about refunds. If you don't hear from us, we're not giving a refund.
                            </p>
                            <p>
                                It usually takes at least one month to get a refund. If you've paid by credit card, you may expect a refund in a shorter period. We issue credits to the payment method on the account where possible. Where this isn't possible, we may issue refunds in the form of NotetorAd credits in Creator's Account.
                            </p>
                            <p>FOR BUYERS :-</p>
                            <p>If a buyer requests a refund or has an issue with their purchase, the seller has 2 business days to respond to the buyer and attempt to resolve the buyer's issue. If the seller has not responded or resolved the issue after 2 business days, then buyer may make a claim directly to Notetor at notetorbuyersclaim@gmail.com.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
