@{
    ViewBag.Title = "Terms And Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #eee;
    }

    .panel-heading {
        padding: 10px 15px;
    }

    .panel-default {
        border-color: #ddd;
    }

    .panel {
        margin: 0px;
        background-color: #fff;
        border: none;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0px 10px;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #ddd;
    }

    .panel-body {
        border-top: 0px;
        padding: 15px;
    }

    .panel .panel-body {
        padding: 0;
        color: #626262;
        padding: 0px 5px;
    }

    .panel .panel-heading > .panel-title > a {
        color: #000;
        font-size: 18px;
        padding: 10px;
    }

    .panel-group .panel .panel-heading + .panel-collapse .panel-body {
        border-top: none;
        margin-top: 0px;
    }

    .panel .panel-heading {
        padding-bottom: 0px;
        border-bottom: none;
        margin-bottom: 7px !important;
        color: #000 !important;
    }

    .panel-group .panel {
        margin-bottom: 20px;
    }

    p {
        color: #616565;
    }

    .answ {
        line-height: 32px;
        color: #616565;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 faq-page">
            <h2 style="text-align: center;">Terms & Condition</h2>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>
                                Notetor builds services &amp; technologies that makes people educated, healthy and wealthy and grow businesses around the world.
                                We don't charge you to use Notetor covered by these Terms. Instead, businesses and organisations pay us to show you ads for their products and services. By using our services, you agree that we can show you ads if you select 'Do you want monetary advantages ? ' as 'Yes'.
                                We don't sell your personal data to advertisers, and we don't share information that directly identifies you (such as your name, email address or other contact information) with advertisers. Advertisers can tell us things such as the kind of audience that they want to see their ads, and we show those ads to people who may be interested. We provide advertisers with reports about the performance of their ads that help them understand how people are interacting with their content.
                            </p>
                            <p>
                                1. The services we provide
                                Our mission is to give people education, health ,wealth and grow businesses around the world. So we provide services described below to you:
                            </p>
                            <p>
                                (I). Users can discuss, share, invite, read, revise, get notification, get invitation, send invitation, get messages, send messages over notebook pages.
                            </p>
                            <p> (II). Users can create their own notebook as creator.</p>
                            <p>
                                (III). Users can create learning bridge among each other for more education, information, knowledge, health and wealth.
                            </p>
                            <p> (IV). Users can praise, appreciate, solve problem of each other .</p>
                            <p> (V). Remove burden of bags from your shoulder. </p>
                            <p> (VI). Users can create notebook for solution, cure and remedies about problem and decease. </p>
                            <p> 2. Your commitments to Notetor and our community </p>
                            <p>
                                We provide these services to you and others to help advance our mission. In exchange, we need you to make the following commitments:
                            </p>
                            <p> (I). Who can use Notetor:- </p>
                            <p>
                                use the same name that you use in everyday life, provide accurate information about yourself, create only one account (your own) and use your timeline for personal purposes, and
                                not share your password, not give access to your Notetor account to others or transfer your account to anyone else (without our permission).
                            </p>
                            <p> (II). We try to make Notetor broadly available to everyone, but you cannot use Notetor if: </p>
                            <p> (A). You are a convicted sex offender. </p>
                            <p> (B). We've previously disabled your account for violations of our Terms or Policies. </p>
                            <p>
                                (C). You are prohibited from receiving our products, services or software under applicable laws.
                            </p>
                            <p> (III). What you can share and do on Notetor </p>
                            <p>
                                We want people to use Notetor to make world educated healthy and wealthy and to share content that is important to them, but not at the expense of the safety and well-being of others or the integrity of our community. You therefore agree not to engage in the conduct described below (or to facilitate or support others in doing so):
                            </p>
                            <p> (IV). You may not use Notetor to do or share anything:- </p>
                            <p>
                                (A). That violates these Terms, our Community Standards and other terms and policies that apply to your use of our Products.
                            </p>
                            <p> (B). That is unlawful, misleading, discriminatory or fraudulent. </p>
                            <p>
                                (C). That infringes or violates someone else's rights, including their intellectual property rights.
                            </p>
                            <p>
                                (D). You may not upload viruses or malicious code, or do anything that could disable, overburden or impair the proper working or appearance of our Products.
                            </p>
                            <p>
                                (E). You may not access or collect data from our Products using automated means (without our prior permission) or attempt to access data that you do not have permission to access.
                            </p>
                            <p> (F). We can remove or restrict access to content that is in violation of these provisions. </p>
                            <p>
                                (G). If we remove content that you have shared in violation of our Community Standards, we'll let you know and explain any options you have to request another review, unless you seriously or repeatedly violate these Terms or if doing so may expose us or others to legal liability; harm our community of users; compromise or interfere with the integrity or operation of any of our services, systems or Products; where we are restricted due to technical limitations; or where we are prohibited from doing so for legal reasons.
                            </p>
                            <p>
                                (H). To help support our community, we encourage you to report content or conduct that you believe violates your rights (including intellectual property rights) or our terms and policies.
                            </p>
                            <p>
                                (i). We also can remove or restrict access to your content, services or information if we determine that doing so is reasonably necessary to avoid or mitigate adverse legal or regulatory impacts to Notetor.
                            </p>
                            <p> (V). The permissions you give us:-</p>
                            <p> (A). We need certain permissions from you to provide our services: </p>
                            <p>
                                Permission to use content that you create and share: Some content that you share or upload, such as notebook/text/photos/audio/videos, may be protected by intellectual property laws.
                            </p>
                            <p>
                                (B). You own the intellectual property rights (things such as copyright or trademarks) in any such content that you create and share on Notetor. Nothing in these Terms takes away the rights you have to your own content. You are free to share your content with anyone else, wherever you want.
                            </p>
                            <p>
                                (C). Specifically, when you share, post or upload content that is covered by intellectual property rights on or in connection with our Products, you grant us a non-exclusive, transferable, sub-licensable, royalty-free and worldwide licence to host, use, distribute, modify, run, copy, publicly perform or display, translate and create derivative works of your content (consistent with your privacy and application settings). This means, for example, that if you share a photo on Notetor, you give us permission to store, copy and share it with others (again, consistent with your settings) such as service providers that support our service. This licence will end when your content is deleted from our systems.
                            </p>
                            <p>
                                (D). You can delete content individually or all at once by deleting your account. Learn more about how to delete your account. You can download a copy of your data at any time before deleting your account.
                            </p>
                            <p>
                                (V). When you delete content, it's no longer visible to other users; however, it may continue to exist elsewhere on our systems where:
                            </p>
                            <p>
                                (A). Immediate deletion is not possible due to technical limitations (in which case, your content will be deleted within a maximum of 90 days from when you delete it);
                                your content has been used by others in accordance with this licence and they have not deleted it (in which case, this licence will continue to apply until that content is deleted); or
                            </p>
                            <p>
                                (B). Where immediate deletion would restrict our ability to:
                                investigate or identify illegal activity or breaches of our Terms and Policies (for example, to identify or investigate misuse of our Products or systems);
                                comply with a legal obligation, such as the preservation of evidence; or
                                comply with a request of a judicial or administrative authority, law enforcement or a government agency; in which case, the content will be retained for no longer than is necessary for the purposes for which it has been retained (the exact duration will vary on a case-by-case basis).
                                In each of the above cases, this licence will continue until the content has been fully deleted.
                            </p>
                            <p> 3. Limits on using our intellectual property </p>
                            <p>
                                If you use content covered by intellectual property rights that we have and make available in our Products (for example, design, images, videos or technology that we provide, which you add to content that you create or share on Notetor), we retain all rights to that content (but not yours). You can only use our Patent, copyrights or trademarks (or any similar marks) as expressly permitted by our Brand Usage Guidelines or with our prior written permission. You must obtain our written permission (or permission under an open-source licence) to modify, create derivative works of, decompile or otherwise attempt to extract source code from us.
                            </p>
                            <p> 4. Additional provisions </p>
                            <p> (I). Updating our Terms </p>
                            <p>
                                We work constantly to improve our services and develop new features to make our Products better for you and our community. As a result, we may need to update these Terms from time to time to accurately reflect our services and practices. We will only make changes if the provisions are no longer appropriate or if they are incomplete, and only if the changes are reasonable and take due account of your interests.
                                We will notify you (for example, by email or through our Products) at least 30 days before we make changes to these Terms and give you an opportunity to review them before they go into effect, unless changes are required by law. Once any updated Terms are in effect, you will be bound by them if you continue to use our Products.
                                We hope that you will continue using our services, but if you do not agree to our updated Terms and no longer want to be a part of the Notetor community, you can delete your account at any time.
                            </p>
                            <p> (II). Account suspension or termination </p>
                            <p>
                                We want Notetor to be a place where people feel welcome and safe to express themselves and share their thoughts and ideas.
                                If we determine that you have clearly, seriously or repeatedly breached our Terms or Policies, including in particular our Community Standards, we may suspend or permanently disable access to your account. We may also suspend or disable your account if you repeatedly infringe other people's intellectual property rights or where we are required to do so for legal reasons.
                                Where we take such action, we'll let you know and explain any options you have to request a review, unless doing so may expose us or others to legal liability; harm our community of users; compromise or interfere with the integrity or operation of any of our services, systems or Products; or where we are restricted due to technical limitations; or where we are prohibited from doing so for legal reasons.
                                You can learn more about what you can do if your account has been disabled and how to contact us if you think that we have disabled your account by mistake.
                                If you delete or we disable your account, these Terms shall terminate as an agreement between you and us.
                            </p>
                            <p> (III). Limits on liability </p>
                            <p>
                                We work hard to provide the best services we can and to specify clear guidelines for everyone who uses them. Our Products, however, are provided "as is", and we make no guarantees that they will always be safe, secure or error-free, or that they will function without disruptions, delays or imperfections. To the extent permitted by law, we also DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. We do not control or direct what people and others do or say, and we are not responsible for their actions or conduct (whether online or offline) or any content that they share (including offensive, inappropriate, obscene, unlawful and other objectionable content).
                                We cannot predict when issues may arise with our Products. Accordingly, our liability shall be limited to the fullest extent permitted by applicable law, and under no circumstances will we be liable to you for any lost profits, revenues, information or data, or consequential, special, indirect, exemplary, punitive or incidental damages arising out of or related to these Terms or the Notetor services, even if we have been advised of the possibility of such damages.
                            </p>
                            <p> (IV). Disputes </p>
                            <p>
                                We try to provide clear rules so that we can limit or hopefully avoid disputes between you and us. If a dispute does arise, however, it's useful to know upfront where it can be resolved and what laws will apply.
                                If you are a consumer, the laws of the country in which you reside will apply to any claim, cause of action or dispute that you have against us that arises out of or relates to these Terms or the Notetor services, and you may resolve your claim in any competent court in that country that has jurisdiction over the claim. In all other cases, you agree that the claim must be resolved exclusively in the India. District Court for the Kanpur District of Uttar Pradesh or a state court located in Allahabad city. You also agree that you submit to the personal jurisdiction of either of these courts for the purpose of litigating any such claim, and that the laws of the State of Uttar Pradesh will govern these Terms and any claim, without regard to conflict of law provisions.
                                We always appreciate your feedback and other suggestions about our products and services. But you should know that we may use them without any restriction or obligation to compensate you, and we are under no obligation to keep them confidential.
                                We reserve all rights not expressly granted to you.
                            </p>

                            <p>
                                Date of last revision: 15th April 2022
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
