@media only screen and (max-width:320px) {
    .pop {
        position: relative;
        height: auto !important;
        top: 21px !important;
        left: 0px !important;
    }


    #editable {
        margin-top: 4px !important;
        margin-left: 16px;
    }

    .content {
        position: relative;
        bottom: 5px;
        left: 0;
        right: 0;
    }

    .btn-area2 {
        min-height: 180px;
    }

    #submitQuestion {
        margin-top: 30px !important;
    }

    #cancel {
        margin-top: 30px !important;
    }

    .qwerty img {
        width: 22px !important;
    }

    .qwerty a {
        padding: 8px 0px;
    }

    .top-button {
        padding: 3px 3px;
        width: 100%;
    }
}

@media only screen and (max-width:360px) {
    .pop {
        position: relative;
        height: auto !important;
        top: 21px !important;
        left: 0px !important;
    }

    #NotebookDetail .btn-primary {
        width: 100%;
        font-size: 13px;
    }

    #NotebookDetail .btn-success {
        width: 100%;
        font-size: 13px;
    }
    .m-photo-caption a {
    color: #FFF;
    font-size: 12px;
    line-height: 0px;
}
    #editable {
        margin-top: 4px !important;
        margin-left: 16px;
    }

    .content {
        position: relative;
        bottom: 5px;
        left: 0;
        right: 0;
    }

    .btn-area2 {
        min-height: 180px;
    }

    #submitQuestion {
        margin-top: 30px !important;
    }

    #cancel {
        margin-top: 30px !important;
    }

    .qwerty img {
        width: 26px;
    }

    .qwerty a {
        padding: 8px 0px;
    }

    .top-button {
        padding: 3px 3px;
        width: 100%;
    }
}

@media only screen and (max-width:480px) {
    .pop {
        position: relative;
        height: auto !important;
        top: 20px !important;
        left: 2px;
    }


    #editable {
        margin-top: 4px !important;
        margin-left: 16px;
    }

    .content {
        position: relative;
        bottom: 5px;
        left: 0;
        right: 0;
    }

    .btn-area2 {
        min-height: 180px;
    }

    #submitQuestion {
        margin-top: 30px !important;
    }

    #cancel {
        margin-top: 30px !important;
    }


    .qwerty a {
        padding: 5px 0px;
    }

    .top-button {
        padding: 3px 5px;
    }
}
