<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StudentAppWebsite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
		<add name="mode" value="sandbox" />
		<add name="connectionTimeout" value="360000" />
		<add name="requestRetries" value="1" />
		<!--Notator APP-->
      <!--<add name="clientId" value="ASzTwQT1X8t4Rf42P3V1xv14vXAP5ZHuwNuap1rr4Iuur4YCD-Xrd8cxo6pGB_rZFXDMAWO0OM-3jJNg" />
      <add name="clientSecret" value="ECZfWKx3yIRFAderNEQKV2mFHPwweMKG4tv4RmU6Uv6vutmH1DP8QbLEgyX_eJxPXNdDJdTuFo0sYlhu" />--> 
		<!-- SANDBOX API CREDENTIALS-->
      <add name="clientId" value="AZqymPS0uEbeeIAfAjeYMToTEyiJCW0SMY9fYIiDWIWOxMJUFJJJm7XXYL5shaxRprVEEBkyWQ3zhorJ" />
      <add name="clientSecret" value="ELTc_8Fnz1njeFBvi12gKphjU6q3jjhB5tf1bP7taoMAdNPvFEmz4qqjmABKiXYTRJlEXqabVn1gWasj" />
      <!--Student APP-->
      <!--<add name="clientId" value="Ab1ZsdMyNjhnFuMvN4EkkgKJyKMRqc3UW9ABEtfTT5jcxL2ltzF-ndGbiJaSeXsGCTrW_bL3lvzsoo5U"/>-->
      <!--<add name="clientSecret" value="EK8aT9ZotarN4jGG_pikBT_op5RetHD-mny_0rHS5BQI-BTcdsz2-MkzMtGeDEfe-xwpV7oUlm3m9kro"/>-->
      <!--StudentAppIonic-->
      <!--<add name="clientId" value="AWGmg-3G8psq-aRbpq06-xeYVKglP-aZqLXatPSX5NMpv9EWZkpE48EmlPEFkd7O9CFmhpA6amqgvuWa"/>-->
      <!--<add name="clientSecret" value="EI-93uu3e7o1Dhu8TDzYz_cJxIIvJlTKiMSTp91l-xTPoH4JCOwiss8Rtp1AD7dOBlN_GgonkzoqZvKi"/>-->
    </settings>
  </paypal>
  <!--Furkan sandbox Keys-->
  <!--<paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      -->
  <!--<add name="clientId" value="AR1h6IUOGH0Mw3fDMiR4xZABqSXN8dzLs06PeL7jMBgpqXEda3LXc7kqO3srKeZsq89OJgHOleNWzRpa" />
      <add name="clientSecret" value="EKRomMAvTSJULeKtjXbtH3MsoNukSyRkqSpM7lDO1LOG2hZcy_3girW9pPYMSNbZqqEyoVkt8z0RSxl9" />-->
  <!--
      -->
  <!--<add name="clientId" value="AQHTxvItLiyfXqkAZEN7WVvEA3T5ZGTlW-rTLWTuvvdfGo7-fhqykyOCCos3-IjJ5miy5y6J0itj_1mM" />
      <add name="clientSecret" value="EDym7lAwxLn9ssgXdvjPgEzIF3QGKbF1NPJfnmzSeOgRcuuiLelGt-698ugppTurMJVIdZ8Oo6TDVdYm" />-->
  <!--
      <add name="clientId" value="ASaj4n-rQThHRDWTTPQdOCgrVPrdJMS7z_83AUT5QfjkHeFd1m_nmbfSD6Pw2qqri-uhAL-e3KQD1bsl" />
      <add name="clientSecret" value="EJqXtVhd4XhziI91y2yhLy8VIwqvE3I7ayssO5WlEIFKkrr-yGrTfXRY8V_DzhL_c7KkCSHHaNHcIDOF" />
    </settings>
  </paypal>-->
  <log4net debug="true">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="logs\log.txt" />
      <appendToFile value="true" />
      <!--<rollingStyle value="Size" />-->
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <!--<staticLogFileName value="true" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-KOFE7Q6\MSSQLSERVER19;Initial Catalog=StudentApp_Android;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="ConnectionString" value="Data Source=45.35.48.186;Initial Catalog=StudentApp;Integrated Security=false;User Id=sa;Password=WinningKids99!@#;Connect Timeout=20" />-->
    <!--<add key="ConnectionString" value="Data Source=43.255.152.26;Initial Catalog=StudentApp;Integrated Security=false;User Id=FurkanApp99;Password=Eaw5*f30;Connect Timeout=20" />-->
    <!-- <add key="ConnectionString" value="Data Source=ARHANTECH\SQLEXPRESS01;Initial Catalog=StudentApp_Android;Integrated Security=true" /> -->
    <!-- <add key="ConnectionString" value="Data Source=38.17.55.191;Initial Catalog=StudentApp_Android;Integrated Security=false; pooling=true;Max Pool Size=10000; User Id=sa;Password=BigNone123;Connect Timeout=20" /> -->
    <!--<add key="ConnectionString" value="Data Source=A2NWPLSK14SQL-v03.shr.prod.iad2.secureserver.net;Initial Catalog=StudentApp_Android;Integrated Security=false; pooling=true;Max Pool Size=10000; User Id=notetor_admin;Password=BigNone123;Connect Timeout=200" />-->
    <add key="ConnectionString" value="Data Source=DESKTOP-KOFE7Q6\MSSQLSERVER19;Initial Catalog=StudentApp_Android;Integrated Security=true;" />
    <!--<add key="ConnectionString" value="Data Source=NEXTOLIVE-PC;Initial Catalog=StudentApp;Integrated Security=true;Connect Timeout=20" />-->
    <!--<add key="ConnectionString" value="Data Source=192.185.10.113;Initial Catalog=vaseem_studentapp;Integrated Security=false;User Id=vasee_studentapp;Password=Next99*&amp;*&amp;^;Connect Timeout=20" />-->
    <add key="DubleAuthenticationKey" value="JBSWY3DPEHPK3PXP" />
    <!--<API Key For SMS>-->
    <add key="apiKEY" value="82bd2c34" />
    <add key="apiSECRET" value="c42f2143bfe32637" />
    <!--<add key="apiSENDERID" value="Kids Cool Ride"/>-->
    <add key="apiSENDERID" value="91917271828215" />
    <add key="isdCode" value="91" />
    <!--<API URL For SMS>-->
    <add key="apiURI" value="https://rest.nexmo.com/sms/json" />
    <!--<API URL For Send OTP>-->
    <add key="apiOTPURI" value="https://api.nexmo.com/verify/xml" />
    <!--<API URL For Verify OTP>-->
    <add key="apiVerifyURI" value="https://api.nexmo.com/verify/check/json" />
    <!--<API URL For Control Sms Request>-->
    <add key="apiControlURI" value="https://api.nexmo.com/verify/control/json" />
    <!--<New API Key For SMS>-->
    <add key="authkey" value="3263AtQsEtlnT2C57c916db" />
    <add key="senderId" value="Stufur" />
    <!--Local Settings-->
    <add key="emailError" value="True" />
    <!--<add key="userName" value="ajmatnoor786@gmail.com" />
    <add key="password" value="ennama99" />-->
    <!--<add key="userName" value="yogeshs192519@gmail.com" />
    <add key="password" value="PrYo@9google123" />-->
	<add key="userName" value="info@notetor.com" />
    <add key="password" value="notetor4896XYZ" />
    <add key="mailFrom" value="ajmatnoor786@gmail.com" />
    <add key="mailTo" value="siddhartha@nextolive.com" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="bccAddress" value="siddhartha@nextolive.com" />
    <add key="testMode" value="2" />
    <add key="subject" value="Student App Exception" />
    <!--<add key="site" value="http://localhost:28016" />-->
    <add key="site" value="http://notetor.com" />
    <add key="EncryptionKey" value="MAKV2SPB" />
    <add key="EncryptionKey1" value="MAKV2SPB" />
    <add key="BusinessEmail" value="kidscoolride_business@gmail.com" />
    <add key="BusinessEmailPassword" value="Next99!@#" />
    <add key="SKey" value="TSGBPLGQ" />
    <add key="RedirectURL" value="http://studentapp.nextolive.com/User/ccavResponseHandler" />
    <add key="CancelURL" value="http://studentapp.nextolive.com/User/ccavResponseHandler" />
    <add key="MerchantId" value="105178" />
    <add key="access_code" value="AVCX00DK79CK18XCKC" />
    <add key="WorkingKey" value="E5B6F2FBBE054DD9B7EDD6128225E042" />
    <add key="GCMServerKey" value="AIzaSyDaenORNbWRFsCYBb1Eg7bivHEkjBb_CUc" />
    <!-- Live Settings-->
    <!--<add key="emailError" value="True" />
    <add key="subject" value="Accounting Software Exception Live" />
    <add key="userName" value="ziaul@nextolive.com" />
    <add key="password" value="Ziaul99" />
    <add key="mailFrom" value="ziaul@nextolive.com" />
    <add key="smtpServer" value="mail.nextolive.com" />
    <add key="mailTo" value="mohit@nextolive.com" />
    <add key="bccAddress" value="mohit@nextolive.com" />
    <add key="testMode" value="0" />
    <add key="site" value="http://surveyapp.nextolive.com" />-->
    <add key="PayPalLogger" value="PayPal.Log.Log4netLogger" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="30" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.5" />
    <globalization culture="en-IN" uiCulture="en-IN" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <customErrors mode="Off" />
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <remove name="MySQLMembershipProvider" />
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <profile defaultProvider="MySQLProfileProvider">
      <providers>
        <remove name="MySQLProfileProvider" />
        <add name="MySQLProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </profile>
    <roleManager defaultProvider="MySQLRoleProvider">
      <providers>
        <remove name="MySQLRoleProvider" />
        <add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.54.0.0" newVersion="1.54.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.54.0.0" newVersion="1.54.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.1.0" newVersion="6.12.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.1.0" newVersion="6.12.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <applicationSettings>
    <StudentAppWebsite.Properties.Settings>
      <setting name="StudentAppWebsite_STUDENT_APP_BooksService" serializeAs="String">
        <value>http://studentapp.nextolive.com/WebServices/STU_AppWebService.asmx</value>
      </setting>
    </StudentAppWebsite.Properties.Settings>
  </applicationSettings>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
	  <!--<mailSettings>
		  <smtp from="info@notetor.com">
			  <network host="relay-hosting.secureserver.net" port="25" />
		  </smtp>
	  </mailSettings>-->
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
            <add endpoint="https://www.google.com/accounts/o8/ud" />
          </trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
               with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
         which is necessary for OpenID urls with unicode characters in the domain/host name.
         It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
 <!-- <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer" connectionString="" providerName="MySql.Data.MySqlClient" />
  </connectionStrings> -->
</configuration>